.map {
    width: calc(100% - 360px);
    height: 700px;
    
    iframe {
        width: 100%;

        @media(max-width: 960px) {
            height: 400px;
        }
    }

    &-view-container {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 700px;
        overflow: hidden;

        @media(max-width: 960px) {
            flex-direction: column;
            width: 100%;
            max-height: 100%;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__container {

        button {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    @media(max-width: 960px) {
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    &-view-container {
        @media(min-width: 960px) {
            .object {
                width: 360px;
                box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.08);
                overflow: hidden;
                overflow-y: auto;

                .swiper {
                    width: 100%;
                    height: 220px;
                }
            
                &__action,
                &__footer,
                &__chars {
                    order: 2;
                }
                
                &__header,
                &__title {
                    order: 1;
                }               
            
                &__chars {
                    height: 199px;
                    max-height: 100%;
                    padding-left: 300px;
            
                    &-left {
                        width: 60%;
                        min-height: 100%;
                    }
                }
            
                &-card {
                    flex-direction: column;
                    padding: 0 10px;
                    margin-bottom: 0;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &__action {
                        padding-bottom: 10px;
                    }
            
                    &__text {
                        font-size: 14px;
                        line-height: 16px;
                    }
                
                    &__link {
                        font-size: 16px;
                        line-height: 18px;
                    }
            
                    &__chars,
                    &__footer-contacts {
                        width: 100%;
                        flex-direction: column;
                    }
                
                    &__footer-contacts {
                        align-items: flex-start;
                        justify-content: flex-start;
                        border-left: 0;

                        span {
                            padding-left: 0;
                            margin-bottom: 5px;
                        }
            
                        a {
                            margin-bottom: 5px;
                        }
                    }
                        
                    &__title {
                        position: relative;
                        padding-right: 60px;
            
                        .object-card__btn {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                
                    &__header {
                        position: relative;
                        align-items: flex-start;
                        padding-right: 60px;
                        flex-direction: column;
            
                        span {
                            margin-bottom: 5px;
                        }
            
                        .object-card__btn {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                
                    &__footer {
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
            
                        span {
                            max-width: 100%;
                        }
            
                        a {
                            font-size: 16px;
                            line-height: 18px;
                        }
            
                        &-price {
                            width: 100%;
                            border-right: 0;
                            border-bottom: $light-border;
                        }

                        &-contacts-wrapper {
                            flex-direction: row;
                            order: 2;

                            .description-drop {
                                left: -21px;
                                top: calc(100% - -10px);
                                width: 333px;

                                @media(max-width: 1240px) {
                                    left: -11px;
                                }
                            }
            
                            button {
                                margin-bottom: 0;
                                margin-right: 10px;
                            }
                        }
                    }

                    &__chars {
                        height: 100%;
                        padding-left: 0;
                        &-left,
                        &-right {
                            width: 100%;
                        }
            
                        &-left {
                            order: 2;
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}