.object-short {
    width: 360px;
    padding: 10px;
    background: $white;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    overflow-y: auto;

    &__list {
        display: flex;
        flex-direction: column;
    }
}