@mixin block-padding() {
    padding: 10px 20px;

    @media(max-width: 1240px) {
        padding: 10px;
    }
}

.object-card {
    display: flex;
    margin-bottom: 20px;
    position: relative;

    &__btn {
        width: fit-content;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        border-radius: 50%;
        transition: background-color $main-transition;

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &__section {
        display: flex;
        flex-grow: 1;
        align-items: center;
        @include block-padding();

        &:not(:first-child) {
            border-top: $light-border;
        }
    }

    &__text {
        font-size: 15px;
        line-height: 18px;
        color: #757575;

        &--light {
            color: #858585;
        }

        a {
            margin-left: 10px;
            text-decoration: underline;
            color: $black-300;
        }
    }

    &__header {
        span {
            padding-right: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 28px;
        text-decoration: underline;
        margin-right: auto;
        padding-right: 20px;

        color: $black-300;

        @media(max-width: 1240px) {
            font-size: 20px;
            line-height: 24px;
        }

        @media(max-width: 960px) {
            font-size: 18px;
            line-height: 20px;
        }

    }

    &__chars {
        display: flex;
        align-items: flex-start;
        padding: 0;

        height: 100%;
        max-height: 150px;
        overflow: hidden;
        overflow-y: auto;

        &-left,
        &-right {
            display: flex;
            flex-direction: column;
            @include block-padding();

            span {
                margin-bottom: 5px;
            }
        }

        &-left {
            flex-grow: 1;
            border-right: $light-border;

            .object-card__text:nth-child(even) {
                color: $black-300;
            }
        }

        &-right {
            flex-grow: 6;

            .object-card__text:nth-child(odd) {
                color: $black-300;
            }
        }
    }

    &__action {
        flex-wrap: wrap;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 32px;
            margin-right: 10px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 17px;

            color: #848484;
            background: linear-gradient(180deg, #FEFEFE 0%, #F6F6F6 100%);
            border: 1px solid #CDCED0;
            border-radius: 3px;

            &--red {
                padding: 10px 7px;
                background: linear-gradient(180deg, #E7766D 0%, #E3594E 100%);
                border: 1px solid #C34B3F;
                border-radius: 3px;
            }

            &--blue {
                padding: 4px 13px;
                background: linear-gradient(180deg, #718CAC 0%, #506F94 100%);
                border: 1px solid #507299;
                border-radius: 3px;
            }

            @media(max-width: 960px) {
                &--note {
                    order: 10;
                }
            }

            
            @media(min-width: 960px) {
                margin: 3px;
                margin-left: 0;

                &.desktop-hidden {
                    display: none;
                }
            }  

            @media(max-width: 960px) {
                &.mobile-hidden {
                    display: none;
                }
            }
        }
        
    }

    &__footer {
        display: flex;
        margin-top: auto;
        padding: 0;

        &-price {
            display: flex;
            align-items: center;
            flex-grow: 1;
            height: 100%;
            @include block-padding();
            font-size: 25px;
            line-height: 30px;
            //border-right: $light-border;
    
            color: $red;
    
            span {
                margin-right: 10px;
            }

            @media(max-width: 1240px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    
        &-contacts {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 3;
            border-left: $light-border;
            
            height: 100%;
            @include block-padding();
    
            &-wrapper {
                display: flex;
                flex-direction: column;


                position: relative;
                // outline: 1px solid red;

                .description-drop {
                    // outline: 1px solid black;
                    position: absolute;
                    left: 100%;
                    bottom: 4px;
                    display: none;
                    width: 320px;
                    height: fit-content;
                    max-height: 200px;
                    overflow: hidden;
                    overflow-y: auto;
                    z-index: 100;
                    background-color: $white;
                    padding: 10px;
                    padding-top: 0;
                    border: $light-border;

                    &__header {
                        display: flex;
                        position: sticky;
                        top: 0;
                        background-color: $white;
                        padding: 10px 0;

                        button {
                            margin-left: auto;
                        }
                    }

                    &.is-active {
                        display: block;
                    }

                    /* @media(max-width: 500px) {
                        width: 272px;
                        left: -11px;
                        top: calc(100% + 9px);
                    } */
                }

                button {
                    margin-bottom: 5px;

                    @media(max-width: 500px) {
                        margin-bottom: 0;
                    }
                }
            }
    
            &-phone {
                font-size: 18px;
                line-height: 22px;
    
                color: $black;
            }
    
            span {
                padding: 0 20px;
                max-width: 225px;
            }
        }
    }

    @media(max-width: 960px) {
        &__action,
        &__footer,
        &__chars {
            order: 2;
        }
        
        &__header,
        &__title {
            order: 1;
        }

        &__chars {
            height: 199px;
            max-height: 100%;
            padding-left: 300px;

            &-left {
                width: 60%;
                min-height: 100%;
            }
        }

        &__action {
            padding: 15px;
            padding-bottom: 5px;
        }
        
    }

    @media(max-width: 768px) {
        flex-direction: column;

        &__chars {
            height: 100%;
            padding-left: 0;
        }
    }

    @media(max-width: 600px) {
        
        &__footer {
            flex-direction: column;
            align-items: flex-start;

            &-price {
                width: 100%;
                border-right: 0;
                border-bottom: $light-border;
            }

            &-contacts {
                border-left: 0;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    }

    @media(max-width: 500px) {
        &__link {
            font-size: 16px;
            line-height: 18px;
        }

        &__chars,
        &__header,
        &__footer-contacts {
            width: 100%;
            flex-direction: column;
        }

        &__footer-contacts {
            align-items: flex-start;
            justify-content: flex-start;

            span {
                padding-left: 0;
                margin-bottom: 5px;
            }

            a {
                margin-bottom: 5px;
            }
        }
        
        &__title {
            position: relative;
            .object-card__link {
                padding-right: 50px;
            }

            .object-card__btn {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        &__header {
            position: relative;
            align-items: flex-start;
            padding-right: 50px;

            span {
                margin-bottom: 5px;
            }

            .object-card__btn {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        &__footer {
            &-contacts-wrapper {
                flex-direction: row;
                order: 2;

                a {
                    margin-right: 10px;
                }
            }

            span {
                max-width: 100%;
            }

            a {
                font-size: 16px;
                line-height: 18px;
            }
        }

        &__chars {
            &-left,
            &-right {
                width: 100%;
            }

            &-left {
                order: 2;
            }
        }
    }
}