-
  const tablist = [
    {
        name: 'В этом доме',
        id: 'tab_1',
        isActive: true,
    },
    {
        name: 'В радиусе',
        id: 'tab_2',
        isActive: false,
    },
    {
        name: 'По заданной территории',
        id: 'tab_3',
        isActive: false,
    }
  ]

-
  const objectList = [
    {
        title: 'Комната Санкт-Петербург Литейный просп., 59 (56.0 м)',
        images: [
            'slide_1.jpg', 'slide_2.jpg', 'slide_3.jpg'
        ],

        published_at: '15 января 2022 18:34',
        status: 'Продается',
        id: '12345678',
        district: 'Центральный район',
        address: 'Санкт-Петербург, Литейный просп., 59',
        ref: 'Циан',
        commonArea: '56',
        liveArea: '46',
        floor: '3',
        totalFloor: '5'
    },

    {
        title: 'Комната 56 м в 6-к., 3/5 эт.',
        images: [
            'slide_1.jpg', 'slide_2.jpg', 'slide_3.jpg'
        ],

        published_at: '15 января 2022 18:34',
        status: 'Сдается',
        id: '12945678',
        district: 'Фрунзенский район',
        address: 'Санкт-Петербург, Ярослава Гашека, 30/5',
        ref: 'Циан',
        commonArea: '516',
        liveArea: '460',
        floor: '14',
        totalFloor: '51'
    }
  ]

.modal.analitics-modal
  .modal__container
    .modal__header
      .modal__header-top
        h2.modal__title Аналитика по конкурентам
        button(type="button").modal__close.btn-default
          svg(width="18" height="18")
            use(xlink:href="#icon-close")
      
      .modal__tabs
        ul.tab__list 
          each tab in tablist
            li
              button(type="button" data-id= tab.id class= tab.isActive ? 'is-active' : null).tab__btn.btn-default.js-modal-tab= tab.name
        .tab__controls
          .tab__controls-top
            .tab__controls-filter-container
              .tab__filter.filter
                form(action="#")
                  .filter__drop
                    fieldset
                      span Расстояние (км):
                      
                      .input-area
                        label.input-label
                          span.label-text от
                          input(type="number" min="0" max="1000" placeholder="0" id="rangeFrom")

                        
                        label.input-label
                          span.label-text до
                          input(type="number" min="0" max="1000" placeholder="1000" id="rangeTo")
                        #range(data-min="0" data-max="1000").range
                      
                    fieldset
                      span Общая площадь (м2):
                      
                      .input-area
                        label.input-label
                          span.label-text от
                          input(type="number" min="0" max="1000" placeholder="0" id="areaFrom")

                        
                        label.input-label
                          span.label-text до
                          input(type="number" min="0" max="1000" placeholder="1000" id="areaTo")

                    fieldset
                      span Площадь кухни (м2):
                      
                      .input-area
                        label.input-label
                          span.label-text от
                          input(type="number" min="0" max="1000" placeholder="0" id="kitchenAreaFrom")
                        
                        label.input-label
                          span.label-text до
                          input(type="number" min="0" max="1000" placeholder="1000" id="kitchenAreaTo")

                  .tab__filter-controls
                    button(type="button").tab__controls-filter-btn.btn-default.filter__opener Уточнить
                    button(type="button").tab__controls-filter-btn.tab__controls-filter-btn--green.btn-default.filter__submit-btn Применить
                    
            .tab__controls-toggler-container
              button(type="button" data-view-type="list").tab__controls-toggler.btn-default.is-active Списком
              button(type="button" data-view-type="map").tab__controls-toggler.btn-default На карте

          .tab__controls-bottom
            button(type="button" data-modal-name="average-modal").tab__controls-average-btn.btn-default.inner-modal-opener
              svg(width="18" height="18")
                use(xlink:href="#icon-chart")
              span Показать средние цены

    .modal__content       
      div(data-view="list").modal__body.is-active
        .object
          ul.object__list
            li.object-card
              .swiper.js-object-swiper
                .swiper-wrapper
                  .swiper-slide
                    a(href="./assets/img/slide_1.jpg" target="_blank")
                      img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340")
                  .swiper-slide
                    a(href="./assets/img/slide_1.jpg" target="_blank")
                      img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340") 
                
                .swiper-button-prev.custom-slider-button-prev
                .swiper-button-next.custom-slider-button-next

              .object__content
                .object-card__section.object-card__header
                  span.object-card__text 15 января 2022 18:34
                  span.object-card__text Продается  
                  span.object-card__text ID 7540598
                  a(href="#" aria-label="выпадающее меню").object-card__btn                      
                    svg(width="20" height="20")
                        use(xlink:href="#icon-dropdown")

                .object-card__section.object-card__title
                  a(href="#").object-card__link Комната Санкт-Петербург Литейный просп., 59 (56.0 м)
                  
                  a(href="#" aria-label="Подробно").object-card__btn
                    svg(width="28" height="28")
                        use(xlink:href="#icon-eye")

                .object-card__section.object-card__chars
                  .object-card__chars-left
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Ссылка на источник:
                      a(href="#") Циан

                  .object-card__chars-right
                    span.object-card__text  Общая пл. <span>10</span> кв.м.
                    span.object-card__text.object-card__text--black Жилая пл.: <span>26</span> кв. м
                    span.object-card__text Этаж: <span>1</span> этаж из <span>19</span>

                .object-card__section.object-card__action
                  a(href="#" aria-label="Скачать pdf").object-card__action-link.object-card__action-link--red
                    svg(width="44" height="13")
                      use(xlink:href="#icon-pdf_2")
                  a(href="#" aria-label="Перейти во вконтакте").object-card__action-link.object-card__action-link--blue
                    svg(width="24" height="24")
                      use(xlink:href="#icon-vk")
                  a(href="#" aria-label="Скачать").object-card__action-link
                    svg(width="16" height="16")
                      use(xlink:href="#icon-download")
                  a(href="#").object-card__action-link Задачи
                  a(href="#").object-card__action-link Автопоиск
                  a(href="#").object-card__action-link
                    svg(width="16" height="16")
                      use(xlink:href="#icon-note" aria-label="Добавить заметку")
                .object-card__section.object-card__footer
                  .object-card__footer-price
                    span.nowrap 108 000 000 р.
                    svg(width="14" height="14")
                        use(xlink:href="#icon-price-down")
                  .object-card__footer-contacts
                    .object-card__footer-contacts-wrapper
                      button(type="button" data-modal-name="map-modal").btn-underline.btn-default.inner-modal-opener На карте
                      button(type="button" data-modal-name="description-modal").btn-underline.btn-default.inner-modal-opener Описание
                      
                      .description-drop
                        .description-drop__header
                          button(type="button").drop-close.btn-default
                            svg(width="18" height="18")
                              use(xlink:href="#icon-close")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?

                    span.object-card__text.object-card__text--light Екатерина Владимировна Брауншвейг
                    a(href="tel:89819201791").object-card__footer-contacts-phone 89819201791
            li.object-card
              .swiper.js-object-swiper
                .swiper-wrapper
                  .swiper-slide
                    a(href="./assets/img/slide_1.jpg" target="_blank")
                      img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340")
                  .swiper-slide
                    a(href="./assets/img/slide_1.jpg" target="_blank")
                      img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340") 
                
                .swiper-button-prev.custom-slider-button-prev
                .swiper-button-next.custom-slider-button-next

              .object__content
                .object-card__section.object-card__header
                  span.object-card__text 15 января 2022 18:34
                  span.object-card__text Продается  
                  span.object-card__text ID 7540598
                  a(href="#" aria-label="выпадающее меню").object-card__btn                      
                    svg(width="20" height="20")
                        use(xlink:href="#icon-dropdown")

                .object-card__section.object-card__title
                  a(href="#").object-card__link Комната Санкт-Петербург Литейный просп., 59 (56.0 м)
                  
                  a(href="#" aria-label="Подробно").object-card__btn
                    svg(width="28" height="28")
                        use(xlink:href="#icon-eye")

                .object-card__section.object-card__chars
                  .object-card__chars-left
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Район: <span>Центральный район</span>
                    span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                    span.object-card__text Ссылка на источник:
                      a(href="#") Циан

                  .object-card__chars-right
                    span.object-card__text  Общая пл. <span>10</span> кв.м.
                    span.object-card__text.object-card__text--black Жилая пл.: <span>26</span> кв. м
                    span.object-card__text Этаж: <span>1</span> этаж из <span>19</span>

                .object-card__section.object-card__action
                  a(href="#" aria-label="Скачать pdf").object-card__action-link.object-card__action-link--red
                    svg(width="44" height="13")
                      use(xlink:href="#icon-pdf_2")
                  a(href="#" aria-label="Перейти во вконтакте").object-card__action-link.object-card__action-link--blue
                    svg(width="24" height="24")
                      use(xlink:href="#icon-vk")
                  a(href="#" aria-label="Скачать").object-card__action-link
                    svg(width="16" height="16")
                      use(xlink:href="#icon-download")
                  a(href="#").object-card__action-link Задачи
                  a(href="#").object-card__action-link Автопоиск
                  a(href="#").object-card__action-link
                    svg(width="16" height="16")
                      use(xlink:href="#icon-note" aria-label="Добавить заметку")
                .object-card__section.object-card__footer
                  .object-card__footer-price
                    span.nowrap 108 000 000 р.
                    svg(width="14" height="14")
                        use(xlink:href="#icon-price-down")
                  .object-card__footer-contacts
                    .object-card__footer-contacts-wrapper
                      button(type="button" data-modal-name="map-modal").btn-underline.btn-default.inner-modal-opener На карте
                      button(type="button" data-modal-name="description-modal").btn-underline.btn-default.inner-modal-opener Описание
                      .description-drop
                        .description-drop__header
                          button(type="button").drop-close.btn-default
                            svg(width="18" height="18")
                              use(xlink:href="#icon-close")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                    span.object-card__text.object-card__text--light Екатерина Владимировна Брауншвейг
                    a(href="tel:89819201791").object-card__footer-contacts-phone 89819201791
      div(data-view="map").modal__body
        .map-view-container
          .map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A49656faf25fa86ee13c9bc1beca6438c12cf4dc972d4a9a480fd377d19269059&amp;source=constructor" width="1280" height="700" frameborder="0"></iframe>
          
          .object
            ul.object__list
              li.object-card
                .swiper.js-object-swiper
                  .swiper-wrapper
                    .swiper-slide
                      a(href="./assets/img/slide_1.jpg" target="_blank")
                        img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340")
                    .swiper-slide
                      a(href="./assets/img/slide_1.jpg" target="_blank")
                        img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340") 
                  
                  .swiper-button-prev.custom-slider-button-prev
                  .swiper-button-next.custom-slider-button-next

                .object__content
                  .object-card__section.object-card__header
                    span.object-card__text 15 января 2022 18:34
                    span.object-card__text Продается  
                    span.object-card__text ID 7540598
                    a(href="#" aria-label="выпадающее меню").object-card__btn                      
                      svg(width="20" height="20")
                          use(xlink:href="#icon-dropdown")

                  .object-card__section.object-card__title
                    a(href="#").object-card__link Комната Санкт-Петербург Литейный просп., 59 (56.0 м)
                    
                    a(href="#" aria-label="Подробно").object-card__btn
                      svg(width="28" height="28")
                          use(xlink:href="#icon-eye")

                  .object-card__section.object-card__chars
                    .object-card__chars-left
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Ссылка на источник:
                        a(href="#") Циан

                    .object-card__chars-right
                      span.object-card__text  Общая пл. <span>10</span> кв.м.
                      span.object-card__text.object-card__text--black Жилая пл.: <span>26</span> кв. м
                      span.object-card__text Этаж: <span>1</span> этаж из <span>19</span>

                  .object-card__section.object-card__action
                    a(href="#" aria-label="Скачать pdf").object-card__action-link.object-card__action-link--red
                      svg(width="44" height="13")
                        use(xlink:href="#icon-pdf_2")
                    a(href="#" aria-label="Перейти во вконтакте").object-card__action-link.object-card__action-link--blue
                      svg(width="24" height="24")
                        use(xlink:href="#icon-vk")
                    a(href="#" aria-label="Скачать").object-card__action-link
                      svg(width="16" height="16")
                        use(xlink:href="#icon-download")
                    a(href="#").object-card__action-link Задачи
                    a(href="#").object-card__action-link Автопоиск
                    a(href="#").object-card__action-link
                      svg(width="16" height="16")
                        use(xlink:href="#icon-note" aria-label="Добавить заметку")
                  .object-card__section.object-card__footer
                    .object-card__footer-price
                      span.nowrap 108 000 000 р.
                      svg(width="14" height="14")
                          use(xlink:href="#icon-price-down")
                    .object-card__footer-contacts
                      .object-card__footer-contacts-wrapper
                        button(type="button" data-modal-name="map-modal").btn-underline.btn-default.inner-modal-opener На карте
                        button(type="button" data-modal-name="description-modal").btn-underline.btn-default.inner-modal-opener Описание
                        .description-drop
                          .description-drop__header
                            button(type="button").drop-close.btn-default
                              svg(width="18" height="18")
                                use(xlink:href="#icon-close")
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                      span.object-card__text.object-card__text--light Екатерина Владимировна Брауншвейг
                      a(href="tel:89819201791").object-card__footer-contacts-phone 89819201791
              li.object-card
                .swiper.js-object-swiper
                  .swiper-wrapper
                    .swiper-slide
                      a(href="./assets/img/slide_1.jpg" target="_blank")
                        img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340")
                    .swiper-slide
                      a(href="./assets/img/slide_1.jpg" target="_blank")
                        img(src="./assets/img/slide_1.jpg" alt="Фото объекта" width="292" height="340") 
                  
                  .swiper-button-prev.custom-slider-button-prev
                  .swiper-button-next.custom-slider-button-next

                .object__content
                  .object-card__section.object-card__header
                    span.object-card__text 15 января 2022 18:34
                    span.object-card__text Продается  
                    span.object-card__text ID 7540598
                    a(href="#" aria-label="выпадающее меню").object-card__btn                      
                      svg(width="20" height="20")
                          use(xlink:href="#icon-dropdown")

                  .object-card__section.object-card__title
                    a(href="#").object-card__link Комната Санкт-Петербург Литейный просп., 59 (56.0 м)
                    
                    a(href="#" aria-label="Подробно").object-card__btn
                      svg(width="28" height="28")
                          use(xlink:href="#icon-eye")

                  .object-card__section.object-card__chars
                    .object-card__chars-left
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Район: <span>Центральный район</span>
                      span.object-card__text.object-card__text--black Адрес: <span>Санкт-Петербург, Литейный просп., 59</span>
                      span.object-card__text Ссылка на источник:
                        a(href="#") Циан

                    .object-card__chars-right
                      span.object-card__text  Общая пл. <span>10</span> кв.м.
                      span.object-card__text.object-card__text--black Жилая пл.: <span>26</span> кв. м
                      span.object-card__text Этаж: <span>1</span> этаж из <span>19</span>

                  .object-card__section.object-card__action
                    a(href="#" aria-label="Скачать pdf").object-card__action-link.object-card__action-link--red
                      svg(width="44" height="13")
                        use(xlink:href="#icon-pdf_2")
                    a(href="#" aria-label="Перейти во вконтакте").object-card__action-link.object-card__action-link--blue
                      svg(width="24" height="24")
                        use(xlink:href="#icon-vk")
                    a(href="#" aria-label="Скачать").object-card__action-link
                      svg(width="16" height="16")
                        use(xlink:href="#icon-download")
                    a(href="#").object-card__action-link Задачи
                    a(href="#").object-card__action-link Автопоиск
                    a(href="#").object-card__action-link
                      svg(width="16" height="16")
                        use(xlink:href="#icon-note" aria-label="Добавить заметку")

                  .object-card__section.object-card__footer
                    .object-card__footer-price
                      span.nowrap 108 000 000 р.
                      svg(width="14" height="14")
                          use(xlink:href="#icon-price-down")
                    .object-card__footer-contacts
                      .object-card__footer-contacts-wrapper
                        button(type="button" data-modal-name="map-modal").btn-underline.btn-default.inner-modal-opener На карте
                        button(type="button" data-modal-name="description-modal").btn-underline.btn-default.inner-modal-opener Описание
                        .description-drop
                          .description-drop__header
                            button(type="button").drop-close.btn-default
                              svg(width="18" height="18")
                                use(xlink:href="#icon-close")
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
                      span.object-card__text.object-card__text--light Екатерина Владимировна Брауншвейг
                      a(href="tel:89819201791").object-card__footer-contacts-phone 89819201791
         
      .inner-modal.map-modal
        .inner-modal__container.map-modal__container
          .inner-modal__header.map-modal__header
            h2.inner-modal__title Объект на карте:
            button(type="button").inner-modal__close.btn-default
              svg(width="18" height="18")
                use(xlink:href="#icon-close")
          .map-modal__content
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A49656faf25fa86ee13c9bc1beca6438c12cf4dc972d4a9a480fd377d19269059&amp;source=constructor" width="1280" height="700" frameborder="0"></iframe>
      
      .inner-modal.description-modal
        .inner-modal__container.description-modal__container
          .inner-modal__header
            h2.inner-modal__title Описание объекта:
            button(type="button").inner-modal__close.btn-default
              svg(width="18" height="18")
                use(xlink:href="#icon-close")
          
          .map-modal__content
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum distinctio explicabo delectus repellendus tenetur rerum eum beatae ullam eaque? Quisquam voluptates ducimus ex temporibus natus harum nesciunt facere dolorem sapiente? 
            <br/>
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto minima, fugiat, deleniti exercitationem temporibus est dolor quisquam incidunt illo quaerat reprehenderit obcaecati distinctio quas numquam? Dolorum, laborum neque. Ab, vel?

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam sit nostrum modi nobis. Sed delectus neque inventore commodi pariatur sequi itaque nemo minus culpa! Facilis a esse itaque tempore?

      .inner-modal.average-modal
        .inner-modal__container.average-modal__container
          .inner-modal__header
            h2.inner-modal__title Средние цены
            button(type="button").inner-modal__close.btn-default
              svg(width="18" height="18")
                use(xlink:href="#icon-close")
          
          .average
            .average-table
              span.average-table__title Среднерыночная стоимость «Квадратного&nbsp;метра»
              .average-table__content
                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Демпинговые цены от:
                    span.average-table__text.average-table__text--red 2 000 000 – 3 000 000 р

                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Средние цены от:
                    span.average-table__text.average-table__text--yellow 3 000 000 – 5 000 000 р

                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Высокие цены от:
                    span.average-table__text.average-table__text--green 5 000 000 – 8 000 000 р
            
            .average-table
              span.average-table__title Среднерыночная стоимость «Объекта»
              .average-table__content
                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Демпинговые цены от:
                    span.average-table__text.average-table__text--red 2 000 000 – 3 000 000 р
                  <a href="#">Объекты в сравнении</a>

                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Средние цены от:
                    span.average-table__text.average-table__text--yellow 3 000 000 – 5 000 000 р
                  <a href="#">Объекты в сравнении</a>

                .average-table__row
                  .average-table__row-pricelist
                    span.average-table__text Высокие цены от:
                    span.average-table__text.average-table__text--green 5 000 000 – 8 000 000 р
                  <a href="#">Объекты в сравнении</a>

            .average__recomendation
              span.average-table__title Рекомендованная цена продажи
              ul
                li
                  span.average-table__text За 12 месяцев:
                  span.average-table__text.average-table__text--bold 300 000 000 р
                
                li
                  span.average-table__text За 3 месяца:
                  span.average-table__text.average-table__text--bold 1 300 000 000 р

                li
                  span.average-table__text Сделка завтра:
                  span.average-table__text.average-table__text--bold 1 300 000 000 р
                    
            a(href="#").btn-default.average-table__report-btn
              svg(width="18" height="18")
                use(xlink:href="#icon-pdf")
              
              span Сформировать отчет для клиента

    .modal__footer
      .modal__footer-togglers
        button(type="button" data-view-type="list").tab__controls-toggler.btn-default.is-active Списком
        button(type="button" data-view-type="map").tab__controls-toggler.btn-default На карте

      button(type="button" data-modal-name="average-modal").price-btn.btn-default.inner-modal-opener
        svg(width="18" height="18")
          use(xlink:href="#icon-price")
      button(type="button").btn-default.up-btn
        svg(width="18" height="18")
          use(xlink:href="#icon-up")
      button(type="button").modal__close.btn-default
        svg(width="18" height="18")
          use(xlink:href="#icon-close")

            